* {
    background-color: #333;
}

.spheres {
    width: 200px;
    height: 200px;
    background-image: linear-gradient(to right, rgb(187, 59, 212), rgb(207, 139, 231), #fff);
    border-radius: 50%;
}

.card {
    background-color: rgba(186, 171, 179, 0.5);
    border-radius: 25px;
    height: 300px;
    width: 550px;
    display: flex;
    margin: auto;
}