@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/* .spheres {
    width: 200px;
    height: 200px;
    background-image: linear-gradient(to right, rgb(187, 59, 212), rgb(207, 139, 231), #fff);
    border-radius: 50%;
    z-index: 1;
    position: relative;
} */

.section {
  min-height: 100vh;
  width: 100%;
  background: #121321;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section::before {
  content: "";
  position: absolute;
  height: 240px;
  width: 240px;
  border-radius: 50%;
  transform: translate(-150px, -100px);
  background: linear-gradient(90deg, #9c27b0, #f3f5f5);
}

.section::after {
  content: "";
  position: absolute;
  height: 240px;
  width: 240px;
  border-radius: 50%;
  transform: translate(150px, 100px);
  background: linear-gradient(90deg, #9c27b0, #f3f5f5);
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  background-color: #000;
  height: 100%;
  width: 100%;
  color: #fff;
}

.card-front-facing {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 40px;
  height: 325px;
  width: 550px;
  margin: auto;
  margin-top: 35%;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.card-front-facing .top {
  display: flex;
}

.master-card-logo {
  height: 100px;
  width: 100px;
  margin: 10px 5px 0 30px;
  /* border: 2px solid red; */
}

.top .master-card-text {
  /* border: 2px solid green; */
  margin-top: 8%;
  font-size: 25px;
}

.top .credit-card-chip {
  height: 65px;
  width: 85px;
  margin: 30px 5px 0 145px;
}

.card-number {
  display: flex;
  flex-direction: column;
  margin: 25px 0 0 30px;
}

.card-number .text {
  font-size: 18px;
  margin-bottom: 5px;
}

.card-number .numbers {
  font-size: 30px;
  letter-spacing: 2px;
}

.details {
  display: flex;
}

.details .name {
  font-size: 23px;
  margin: 30px 60px 0 30px;
}

.details .expiry {
  display: flex;
  flex-direction: column;
  margin-left: 90px;
  margin-top: 10px;
}

.expiry .valid {
  font-size: 18px;
}

.expiry .exp {
  font-size: 25px;
}
